<div class="container">
    <div class="row">
    <div class="col-sm-3" *ngFor="let item of results">
        <div class="card">
            <a [routerLink]="['product', item.id]">
              <img class="card-img-top" src="{{item.thumbnail}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.price}} {{item.currency}}</p>
              <a (click)="addProduct(item)" class="btn btn-primary">Dodaj do koszyka</a>
            </div>
          </div>
    </div>
  </div>
</div>