<div class="container">
  <h4 class="text-center">Twój koszyk</h4>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
          <td>ID</td>
          <th>Nazwa produktu</th>
          <th>Miniatura</th>
          <th>Cena</th>
          <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="products.length == 0">
        <td colspan="5" class="text-center">Nie ma w koszyku zadnych produktow</td>
      </tr>
      <tr *ngFor="let item of products; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td><img src="data:image/png;base64,{{item.thumbnail}}" style="width: 10%" alt=""></td>
        <td>{{item.price}}</td>
        <td>
          <a (click)="removeProduct(item)" class="btn btn-danger"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
      <button class="btn btn-warning" (click)="clean()">Wyczysc koszyk</button>
      <button [disabled]="products.length == 0" routerLink="/order" class="text-right btn btn-primary">Zamawiam!</button>
  </div>
</div>
