<div class="container">
    <h4>Logowanie</h4>
    <form class="form">
      <div class="form-group">
          <label for="login">Podaj swój login</label>
          <input type="text" class="form-control" id="login">
      </div>
      <div class="form-group">
          <label for="login">Poda swoje hasło</label>
          <input type="password" class="form-control" id="password">
      </div>
      <div class="form-group">
          <button type="submit" class="text-right btn btn-primary">Zamawiam!</button>
      </div>
    </form>
  </div>