<header>
  <div class="container">
    <h1 class="text-center">
      3D Games Shop
    </h1>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/'>Gry</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" routerLink='/admin'>Panel administracyjny</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" routerLink='/add/product'>Dodaj produkt</a>
          </li>
        </ul>
      </div>

      <div class="form-inline">
        <a routerLink="/cart" class="btn"><i class="fa fa-shopping-cart"></i> Koszyk</a>
        <span class="badge badge-pill badge-primary">{{productsCount}}</span>
        <span class="badge badge-pill badge-success">{{finalPrice | number}} PLN</span>
      </div>
      <div class="logout-link" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/" (click)="logout()">Wyloguj</a>
      </div>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
