<div class="container" *ngIf="done">
  <div class="alert alert-success text-center">Twoje zamówienie zostało zlozone i przyjęte do realizacji!</div>
</div>

<div class="container" *ngIf="!done">
  <h4>Dokończ swoje zamówienie</h4>
  <form class="form row" [formGroup]="rForm" (ngSubmit)="addOrder(rForm.value)">

    <div class="form-group col-sm-6">
      <label for="first-name">
        Imię (imiona) 
        <span *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched" class="badge badge-danger">Pole obowiązkowe</span>
      </label>
      <input id="first-name" formControlName="firstName" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6">
      <label for="last-name">
        Nazwisko
        <span *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched" class="badge badge-danger">Pole obowiązkowe</span>
      </label>
      <input id="last-name" formControlName="lastName" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6">
      <label for="street">
        Ulica
        <span *ngIf="!rForm.controls['street'].valid && rForm.controls['street'].touched" class="badge badge-danger">Pole obowiązkowe</span>
      </label>
      <input id="street" formControlName="street" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6">
        <label for="local-number">
          Numer lokalu
          <span *ngIf="!rForm.controls['localNumber'].valid && rForm.controls['localNumber'].touched" class="badge badge-danger">Pole obowiązkowe</span>
        </label>
        <input id="local-number" formControlName="localNumber" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6">
        <label for="city">
          Miejscowosc
          <span *ngIf="!rForm.controls['city'].valid && rForm.controls['city'].touched" class="badge badge-danger">Pole obowiązkowe</span>
        </label>
        <input id="city" formControlName="city" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6">
        <label for="postal-code">
          Kod pocztowy
          <span *ngIf="!rForm.controls['postalCode'].valid && rForm.controls['postalCode'].touched" class="badge badge-danger">Pole obowiązkowe</span>
        </label>
        <input id="postal-code" formControlName="postalCode" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6">
      <label for="email">
        Email
        <span *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched" class="badge badge-danger">Pole obowiązkowe</span>
      </label>
      <input id="email" formControlName="email" type="email" class="form-control">
    </div>

    <div class="form-group col-sm-6">
        <label for="email">
          Numer telefonu
          <span *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched" class="badge badge-danger">Pole obowiązkowe</span>
        </label>
        <input id="phone" formControlName="phone" type="text" class="form-control">
      </div>

    <div class="form-group col-sm-6">
        <label for="discount-code">Kod rabatowy</label>
        <input id="discount-code" formControlName="discountCode" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-12">
        <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Zamawiam!</button>
    </div>
  </form>
</div>